<html>
    <title>
        About
    </title>
    <head>
        <link rel="stylesheet" href="/css/sample.css"/>
        <link rel="icon" href="./images/weather.png"/>
        <script src="/js/sample.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{text}}</p>
        </div>
        {{>footer}}
    </body>
</html>