<html>
    <title>
        Help
    </title>
    <head>
        <link rel="stylesheet" href="./css/sample.css"/>
        <link rel="icon" href="./images/weather.png"/>
        <script src="./js/sample.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="help-img" src="/images/baby.JPG" alt="My Baby"/>
            <p>{{helpText}}</p>
        </div>
        {{>footer}}
    </body>
</html>