<html>
    <title>
        Weather Report
    </title>
    <head>
        <link rel="stylesheet" href="./css/sample.css"/>
        <link rel="icon" href="./images/weather.png"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get the weather report</p>
            <form>
                <input type="text" id="location"/>
                <input type="submit"/>
                <p id="message1"></p>
                <p id="message2"></p>
            </form>
        </div>
        {{>footer}}
        <script src="./js/sample.js"></script>
    </body>
</html>